{% extends 'base.html' %}
{% block title %}Reset password{% endblock %}
    
    {% block contents %}
    <div class="container">
        <div class="row">
            <div class="col py-4">
                <hr>
                <h1>パスワードをリセットしますか？</h1>
                <p>
                    登録済みのメールアドレスを入力してください。
                    パスワードリセットのリンクを記録したメールをすぐにお届けします。
                </p>
                <br>
                {% comment %} メール送信のためのフォームを配置 {% endcomment %}
                <form acrion="" method="POST" class="text-conter">
                    {% csrf_token %}
                {% comment %} formに格納されているインプットボックスとラベルを出力 {% endcomment %}
                    {{ form }}
                {% comment %} 送信ボタン {% endcomment %}
                    <input type="submit" value="メールを受け取る" /><br>
                </form>
                <br>
                {% comment %} トップぺージへのリンク {% endcomment %}
                <a href="{% url 'photo:index'%}">Photo Gallery</a>
                <hr>
            </div>
        </div>
    </div>
    {% endblock %}